---
title: Karriere
layout: page
share-img: images/undraw_online_resume_qyys.svg.png
subtitle: Werde Teil der Osnabrücker Talentschmiede für Künstliche Intelligenz und Digitales
---

<div class="row">
  <div class="col-4 col-12-medium">
    <!-- Sidebar -->
    <section class="box">
      <!-- <a href="#" class="image featured"
        ><img src="/images/pic09.jpeg" alt=""
      /></a> -->
      <header>
        <h3>Links</h3>
      </header>
      <ul>
        {% for career in site.data.career %}
        <li><a href="#{{forloop.index}}">{{ career.title }}</a></li>
        {% endfor %}
      </ul>
      <footer></footer>
    </section>
  </div>

  <div class="col-8 col-12-medium imp-medium">
    <!-- Content -->
    <article class="box post">
      {% for career in site.data.career %}
      <section>
        <h4 id="{{forloop.index}}">{{ career.title }}</h4>
        <p>{{ career.text }}</p>
        {% if career.action %}
        <p class="block-buttons">
          <a
            href="{{ career.action.url | relative_url }}"
            class="button secondary"
            >{{ career.action.label }}</a
          >
        </p>
        {% endif %}
      </section>
      {% endfor %}

      <footer>
        <h3>
          Schreib uns eine E-Mail mit deiner Bewerbung an
          <a href="mailto:career@mmmint.ai">career@mmmint.ai</a>
        </h3>
        <br />
      </footer>
    </article>
    <div>
      <img src="/images/undraw_online_resume_qyys.svg" />
    </div>
  </div>
</div>

<!-- 
  https://developers.google.com/search/docs/data-types/job-posting
-->
{% assign career_is_not_empty = site.data.career | is_not_empty %}
{% if career_is_not_empty %}
<script type="application/ld+json">
  [{% for career in site.data.career %}
    {
      "@context": "https://schema.org/",
      "@type": "JobPosting",
      "title": "{{ career.title }}",
      "description": "{{ career.text | markdownify | replace: '"', '\"' | strip_newlines }}",
	  "datePosted": "{{ career.posted }}",
	  "validThrough" : "2022-31-12",
      "applicantLocationRequirements": {
        "@type": "Country",
        "name": "Deutschland"
      },
      "hiringOrganization": {
        "@type": "Organization",
        "name": "MMM Intelligence",
        "sameAs": "https://www.mmmint.ai/",
        "logo": "https://www.mmmint.ai/images/logo.png"
      },
	  "baseSalary": {
		"@type": "MonetaryAmount",
		"currency": "EUR",
		"value": {
		  "@type": "QuantitativeValue",
		  "value": 450,
		  "unitText": "MONTH"
		}
	  }
      "jobLocationType": "TELECOMMUTE",
      "employmentType": "{{ career.employmentType }}"
    }{% unless forloop.last %},{% endunless %}{% endfor %}
  ]
</script>
{% endif %}