---
title: Karriere
layout: page
subtitle: Werde Teil unseres Teams zur Verbesserung der Elektromobilität und verändere die Welt nachhaltig!
---

<div class="row">

  <div class="col-4 col-12-medium">
    <!-- Sidebar -->
    <section class="box">
      <header>
        <h4>Links</h4>
      </header>
      <ul>
        {% for career in site.data.career %}
        <li><a href="#{{forloop.index}}">{{ career.title }}</a></li>
        {% endfor %}
      </ul>
      <footer></footer>
    </section>
  </div>

  <div class="col-8 col-12-medium imp-medium">
    <!-- Content -->
    <article class="box post">
      {% for career in site.data.career %}
      <section>
        <h2 id="{{forloop.index}}">{{ career.title }}</h2>
        <p>{{ career.text }}</p>
        {% if career.action %}
        <p class="block-buttons">
          <a
            href="{{ career.action.url | relative_url }}"
            target="_blank"
            class="button secondary"
            >{{ career.action.label }}</a
          >
        </p>
        {% endif %}
      </section>
      {% endfor %}

      <footer>
        <h4>
          Schreib uns eine E-Mail mit deiner Bewerbung an
          <a href="mailto:career@mintfuture.de">career@mintfuture.de</a>
        </h4>
        <br />
      </footer>
    </article>
  </div>
</div>

<!-- 
  https://developers.google.com/search/docs/data-types/job-posting
-->
{% assign career_is_not_empty = site.data.career | is_not_empty %}
{% if career_is_not_empty %}
<script type="application/ld+json">
  [{% for career in site.data.career %}
    {
      "@context": "https://schema.org/",
      "@type": "JobPosting",
      "title": "{{ career.title }}",
      "description": "{{ career.text | markdownify | replace: '"', '\"' | strip_newlines }}",
	  "datePosted": "{{ career.posted | date_to_xmlschema }}",
	  "validThrough" : "{{ career.validThrough | date_to_xmlschema }}",
      "applicantLocationRequirements": {
        "@type": "Country",
        "name": "Deutschland"
      },
      "hiringOrganization": {
        "@type": "Organization",
        "name": "MMM Intelligence",
        "sameAs": "https://www.mmmint.ai/",
        "logo": "https://www.mmmint.ai/images/logo.png"
      },
      "baseSalary": {
        "@type": "MonetaryAmount",
        "currency": "EUR",
        "value": {
          "@type": "QuantitativeValue",
          "value": {{ career.monetaryAmount }},
          "unitText": "MONTH"
        }
      },
      "jobLocationType": "TELECOMMUTE",
      "employmentType": "{{ career.employmentType }}"
    }{% unless forloop.last %},{% endunless %}{% endfor %}
  ]
</script>
{% endif %}