<section
  id="{{ include.section.section_id }}"
  class="block reviews-block bg-{{ include.section.bg }} outer"
>
  <div class="block-header inner {{ include.section.headerclass }}">
    <h2 class="block-title">{{ include.section.title }}</h2>
  </div>
  <!-- .block-header -->
  {% assign images_is_not_empty = include.section.images | is_not_empty %} {% if
  images_is_not_empty %}
  <div class="inner">
    <div class="grid">
      <div class="images-container">
        {% for review in include.section.images %}
        <div class="image-block-container">
          <p class="image-number">{{ review.number }}</p>
          <footer class="image-footer">
            <h6 class="image-title">{{ review.title }}</h6>
            <p class="image-text">{{ review.text }}</p>
          </footer>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- .grid -->
  </div>
  <!-- .inner -->
  {% endif %}
</section>
<!-- .block -->
