{% assign google_analytics_is_not_empty = site.google_analytics | is_not_empty %}
{% if google_analytics_is_not_empty %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script type="text/plain" cookie-consent="tracking">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
  
</script>
{% endif %}

{% assign google_analytics_aw_is_not_empty = site.google_analytics_aw | is_not_empty %}
{% if google_analytics_aw_is_not_empty %}
<!-- Global site tag (gtag.js) - Google Ads: 10855308822 -->
<script type="text/plain" async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_aw }}"></script>
<script type="text/plain" cookie-consent="tracking">
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics_aw }}');
</script>
{% endif %}

{% assign google_tag_manager_is_not_empty = site.google_tag_manager | is_not_empty %}
{% if google_tag_manager_is_not_empty %}
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', '{{ site.google_tag_manager }}');</script>
<!-- End Google Tag Manager -->
{% endif %}

{% assign facebook_pixel_is_not_empty = site.facebook_pixel | is_not_empty %}
{% if facebook_pixel_is_not_empty %}
<!-- Facebook Pixel Code -->
<script type="text/plain" cookie-consent="tracking">
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
      n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
    n.queue = []; t = b.createElement(e); t.async = !0;
    t.src = v; s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '{{ site.facebook_pixel }}');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id={{ site.facebook_pixel }}&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
{% endif %}

{% assign clarity_is_not_empty = site.clarity | is_not_empty %}
{% if clarity_is_not_empty %}
<!-- Clarity -->
<script type="text/plain" cookie-consent="tracking">
  (function (c, l, a, r, i, t, y) {
    c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
    t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
  })(window, document, "clarity", "script", "{{ site.clarity }}");
</script>
<!-- End Clarity -->
{% endif %}

{% assign hubspot_is_not_empty = site.hubspot | is_not_empty %}
{% if hubspot_is_not_empty %}
<!-- Start of HubSpot Embed Code -->
<script type="text/plain" cookie-consent="tracking" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/{{ site.hubspot }}.js"></script>
<!-- End of HubSpot Embed Code -->
{% endif %}