<section id="{{ include.section.section_id }}" class="ci-color-block outer">
  <div class="block-header inner">
    <h2 class="block-title benefits-header">{{ include.section.title }}</h2>
  </div>
  <div class="inner">
    <div class="benefits-container">
      <div class="benefit-container">
        <div class="circle">
          1
        </div>
        <div class="benefit-title">Flexible Arbeitszeiten</div>
      </div>
	  <div class="benefit-container">
        <div class="circle">
          2
        </div>
        <div class="benefit-title">Remote/Hybrid/Office</div>
      </div>
	  <div class="benefit-container">
        <div class="circle">
          3
        </div>
        <div class="benefit-title">Junges Team - Reife Denkweise</div>
      </div>
	  <div class="benefit-container">
        <div class="circle">
          4
        </div>
        <div class="benefit-title">Aufstiegschancen</div>
      </div>
	  <div class="benefit-container">
        <div class="circle">
          5
        </div>
        <div class="benefit-title">Attraktive Bezahlung</div>
      </div>
	  <div class="benefit-container">
        <div class="circle">
        	6
        </div>
        <div class="benefit-title">Zukunftsorientiertes Umfeld</div>
      </div>
    </div>
    <!-- .grid -->
  </div>
  <!-- .inner -->
</section>
<!-- .block -->
