<section id="{{ include.section.section_id }}" class="block faq-block bg-{{ include.section.bg }}">
  <h2 class="block-title">{{ include.section.title }}</h2>
  {% assign subtitle_is_not_empty = include.section.subtitle | is_not_empty %}
  {% if subtitle_is_not_empty %}
  <p class="block-subtitle">
    {{ include.section.subtitle }}
  </p>
  {% endif %}
  {% assign faqitems_is_not_empty = include.section.faqitems | is_not_empty %}
  {% if faqitems_is_not_empty %}
  {% for faqitem in include.section.faqitems %}
  <h3>{{ faqitem.question }}</h3>
  <p>
    {{ faqitem.answer | markdownify }}
  </p>
  {% endfor %}
  {% endif %}
</section><!-- .block -->

{% assign faqitems_is_not_empty = include.section.faqitems | is_not_empty %}
{% if faqitems_is_not_empty %}
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "FAQPage",
    "name": "{{site.title}}",
    "mainEntity": [
      {% for faqitem in include.section.faqitems %}
      {
        "@type": "Question",
        "name": "{{ faqitem.question }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ faqitem.answer | normalize_whitespace | strip_newlines | markdownify | replace: '"', "'" }}"
        }
      }{% unless forloop.last %},{% endunless %}{% endfor %}
    ]
  }
</script>
{% endif %}