<footer id="colophon" class="site-footer">
  <div class="footer-top outer">
    <div class="inner">
      <div class="footer-widgets">

        <div class="widget footer-branding">
          {% assign logo_img_is_not_empty = site.footer.logo_img | is_not_empty %}
          {% if logo_img_is_not_empty %}
          <p class="site-logo">
            <a href='{{ '/' | relative_url }}'><img src="{{ site.footer.logo_img | relative_url }}" alt="Logo"
                style="max-height: 150px;" /></a>
          </p>
          {% else %}
          <p class="site-title">
            <a href='{{ '/' | relative_url }}'>{{ site.header.title }}</a>
          </p>
          {% endif %}
          {% assign tagline_is_not_empty = site.footer.tagline | is_not_empty %}
          {% if tagline_is_not_empty %}
          <p class="site-description">
            {{ site.footer.tagline }}
          </p>
          {% endif %}
        </div><!-- .widget -->


        <nav class="widget footer-navigation">
          <div class="footer-nav-inside">
            <div class="secondary-nav">
              <h2 class="widget-title">{{ site.footer.nav_title }}</h2>
              <ul class="secondary-menu">
                {%- for link in site.footer.nav -%}
                <li>
                  <a href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
                </li>
                {% endfor %}
              </ul>
            </div><!-- .secondary-nav -->
            <div class="social-nav">
              <h2 class="widget-title">{{ site.footer.social_title }}</h2>
              {% include social.html %}
            </div><!-- .social-nav -->
          </div><!-- .footer-nav-inside -->
        </nav><!-- .widget -->
        {% assign has_subscribe_is_not_empty = site.footer.has_subscribe | is_not_empty %}
        {% if has_subscribe_is_not_empty %}
        <div class="widget footer-subscribe">
          <h2 class="widget-title">{{ site.footer.subscribe_title }}</h2>
          {% assign subscribe_content_is_not_empty = site.footer.subscribe_content | is_not_empty %}
          {% if subscribe_content_is_not_empty %}
          <p>{{ site.footer.subscribe_content }}</p>
          {% endif %}
          {% include subscribe_form.html %}
        </div><!-- .widget -->
        {% endif %}
      </div><!-- .footer-widgets -->
    </div><!-- .inner -->
  </div><!-- .outer -->

  <div class="site-info outer">
    <div class="inner">
      {{ site.footer.content }}
      &nbsp;
      {% for link in site.footer.links %}
      <a href="{{ link.url }}" {% assign new_window_is_not_empty=link.new_window | is_not_empty %}{% if
        new_window_is_not_empty %}target="_blank" rel="noopener" {% endif %}>{{ link.text }}</a>.
      {% endfor %}
    </div><!-- .inner -->
  </div><!-- .site-info -->

</footer><!-- .site-footer -->