<footer id="colophon" class="site-footer">
  <div class="footer-top outer">
    <div class="inner">
      <div class="footer-widgets">

        <nav class="widget footer-products">
          {% assign products_is_not_empty = site.footer.products_title |
          is_not_empty %} {% if products_is_not_empty %}
          <div class="secondary-nav">
            <h4 class="widget-title">{{ site.footer.products_title }}</h4>
            <ul class="secondary-menu">
              {%- for link in site.footer.products -%}
              <li>{{ link[0] }}</li>
              {% endfor %}
            </ul>
          </div>
          <!-- .secondary-nav -->
          {% endif %}
        </nav>
        <!-- .widget -->

        <nav class="widget footer-second">
          <div class="secondary-nav">
            <h4 class="widget-title">{{ site.footer.nav_title }}</h4>
            <ul class="secondary-menu">
              {%- for link in site.footer.nav -%}
              <li>
                <a href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- .secondary-nav -->
        </nav>
        <!-- .widget -->

        <nav class="widget footer-second">
          <div class="secondary-nav">
            <h4 class="widget-title">{{ site.footer.legal_title }}</h4>
            <ul class="secondary-menu">
              {%- for link in site.footer.legal_nav -%}
              <li>
                <a href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- .secondary-nav -->
        </nav>
        <!-- .widget -->

        <nav class="widget footer-social">
          <div class="social-nav">
            <h4 class="widget-title">{{ site.footer.social_title }}</h4>
            {% include social.html %}
          </div>
          <!-- .social-nav -->
        </nav>
        <!-- .widget -->

      </div>
      <!-- .footer-widgets -->
    </div>
    <!-- .inner -->
  </div>
  <!-- .outer -->

  <div class="site-info outer">
    <div class="inner">
      {{ site.footer.content }} &nbsp; {% for link in site.footer.links %}
      <a
        href="{{ link.url }}"
        {%
        assign
        new_window_is_not_empty="link.new_window"
        |
        is_not_empty
        %}{%
        if
        new_window_is_not_empty
        %}target="_blank"
        rel="noopener"
        {%
        endif
        %}
        >{{ link.text }}</a
      >. {% endfor %}
    </div>
    <!-- .inner -->
  </div>
  <!-- .site-info -->
</footer>
<!-- .site-footer -->
