<section id="{{ include.section.section_id }}" class="block reviews-block bg-{{ include.section.bg }} outer">
    <div class="block-header inner">
        <h2 class="block-title">{{ include.section.title }}</h2>
        {% assign subtitle_is_not_empty = include.section.subtitle | is_not_empty %}
        {% if subtitle_is_not_empty %}
        <p class="block-subtitle">
            {{ include.section.subtitle }}
        </p>
        {% endif %}
    </div><!-- .block-header -->
    <div class="inner">
        <div class="grid">
        	<iframe class="iframe-video" src="https://www.youtube.com/embed/A1k1nxvgkLU" title="Ib Leimkuehler Erklärvideo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    	</div><!-- .grid -->
    </div><!-- .inner -->
</section><!-- .block -->