/**
 * General
 * ----------------------------------------------------------------------------
 */
html {
  font-family: _font(primary);
  font-size: 112.5%;
  color: #444443 !important;
  height: 100%;
  min-height: 100%;
}

body {
  background: _palette(bg);
  color: _palette(primary);
  line-height: 1.66667;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  border-bottom: none;
  color: _palette(accent-dark-green);
  text-decoration: none;
  -webkit-transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;

  &:hover,
  &:focus {
    border-color: _palette(accent);
    color: _palette(accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(secondary);
  font-weight: bold;
  line-height: 1.2;
  margin: 2.5rem 0 0.83333rem;
  text-rendering: optimizeLegibility;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.66667rem;
}

h4 {
  font-size: 1.33333rem;
}

h5 {
  font-size: 1.1111rem;
}

h6 {
  font-size: 0.9999rem;
}

h7 {
  font-size: 0.6666rem;
}

p {
  margin: 0 0 1.66667em;
}

address {
  font-style: italic;
  margin: 0 0 1.66667em;
}

mark,
ins {
  background: _palette(accent-neon); // #fff493;
  color: _palette(primary);
  padding: 0 3px;
  text-decoration: none;
}

pre {
  background: #fff;
  border-radius: 3px;
  font-size: 0.88889rem;
  margin: 0 0 1.66667rem;
  overflow: auto;
  padding: 1.66667rem;
  position: relative;
  white-space: pre;
}

blockquote {
  border-left: 3px solid _palette(accent);
  color: _palette(secondary);
  font-size: 1.33333rem;
  line-height: 1.3;
  margin: 0 0 1.66667rem;
  padding-left: 30px;

  p {
    margin-bottom: 0.83333rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small,
  cite {
    color: _palette(meta);
    display: block;
    font-size: 1.11111rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.66667;
    margin-top: 0.83333rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.66667em;
}

ul,
ol {
  margin: 0 0 1.66667em;
  padding: 0 0 0 1.66667em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

hr {
  background-color: _palette(border);
  border: 0;
  height: 1px;
  margin: 2.5em 0;
}

table {
  line-height: 1.5;
  margin: 0 0 1.66667em;
  text-align: left;
  width: 100%;
}

caption {
  color: _palette(meta);
  font-size: 0.88889em;
  font-style: normal;
  margin-bottom: 0.83333rem;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid _palette(border);
  padding: 0.5em 5px;
}

th {
  color: _palette(secondary);
  font-weight: bold;
}

/* Form fields */
label {
  color: _palette(secondary);
}

footer label {
  color: _palette(wkthg-strom);
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  padding-left: 0.25em;
  padding-right: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: #fff;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: _palette(primary);
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 15px;
  vertical-align: baseline;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 3em;
}

textarea {
  padding: 0.75em 15px;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button {
  background: _palette(accent);
  border-radius: 14px;
  border: 2px solid _palette(accent);
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 2.75em;
  line-height: 1.5;
  padding: 0.5em 30px;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.75;
    outline: 0;
  }
}

a.button {
  height: auto;
}

.button.large {
  height: 2em;
  padding-left: 80px;
  padding-right: 80px;
}

a.button.large {
  height: auto;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
  border-radius: 18px;
}

.button.secondary {
  background: transparent;
  color: _palette(accent);
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: _palette(accent);
    color: #fff;
    opacity: 1;
  }
}

.button.white {
  background: #fff;
  border-color: transparent;
  box-shadow: 0 20px 30px 0 rgba(_palette(primary), 0.2);
  color: _palette(primary);
  font-size: 28px;
  font-weight: bold;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    opacity: 1;
  }
}

.button.ci {
  background: _palette(accent);
  border-color: transparent;
  box-shadow: 0 5px 30px 0 rgba(_palette(primary), 0.2);
  color: #fff;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    opacity: 1;
  }
}

#menu-open,
#menu-close {
  background: 0;
  border: 0;
  box-shadow: none;
  color: inherit;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}

/* Contact form */
.contact-form {
  .form-row {
    margin-bottom: 0.83333em;
  }

  label {
    display: block;
    padding-bottom: 0.25em;
  }

  .form-submit {
    margin-top: 1.66667em;
  }
}

/* Subscribe form */
.subscribe-form {
  margin-bottom: 1.66667rem;

  .subscribe-email {
    width: 100%;
  }

  .button {
    margin: 0.83333rem 0 0;
  }
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

.js-reframe {
  margin: 0 0 1.66667em;
}

/* Images */
img {
  height: auto;
  max-width: 100%;
}

.post-thumbnail img,
.post-content img {
  border-radius: 3px;
}

@media only screen and (max-width: 600px) {
  .post-content img {
    max-width: 350px !important;
  }
}

@media only screen and (max-width: 768px) {
  .post-content {
    overflow-x: scroll;
  }
}

/* Heading underline */
.underline {
  position: relative;

  &:after {
    border-left: 68px solid _palette(accent);
    display: block;
    content: "";
    height: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* Text meant only for screen readers */
.screen-reader-text,
.site-logo + .site-title {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Clearing floats */
.post-content:after {
  clear: both;
}

.post-content:before,
.post-content:after {
  content: "";
  display: table;
}

.content-container {
  display: flex;
}

.content-text-container {
  max-width: 600px;
  margin: auto;
}

.cls-image {
  position: relative;
  bottom: 200px;
  left: 75px;
  transform: scale(2);
  width: 800px;
  height: 400px;
}

.images-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#reviews {
  background-color: _palette(primary);
  color: #fff;
}

.ci-header {
  color: _palette(accent);
  margin-bottom: 3em !important;
}

.offer-container,
.advantages-container {
  display: flex;
  justify-content: space-evenly;

  .offer-name {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .offer-subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
  }

  .offer-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem 0px 1.5rem 0px;
  }

  .offer-details {
    font-size: 1rem;
    line-height: 2;
  }

  .offer-button {
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.1rem;
  }
}

.advantage-container {
  border-radius: 15px;
  box-shadow: 0 3px 15px 0 rgba(_palette(primary), 0.15);
  padding: 1.66667rem 1.66667rem 0.83333rem;
  margin: 0 auto 1.66667rem;
  text-align: center;
  max-width: 285px;

  .advantage-title {
    font-size: 1.5rem;
    margin: 0;
  }

  .advantage-subtitle {
    font-size: 1rem;
    margin-top: 0.5em;
    font-weight: 100;
  }

  .advantage-image {
    margin: 2em 0px 2em 0px;
  }
}

#offer {
  background-color: _palette(primary);
}

.noscalecls-image {
  margin-left: 100px;
}

.blog-header-image {
  transform: scale(1);
  bottom: 50px;
  width: 800px;
  height: 400px;
  object-fit: contain;
  position: relative;
}

.about-header-image {
  transform: scale(1);
  bottom: 0;
  width: 800px;
  object-fit: contain;
  height: 400px;
  position: relative;
}

@media only screen and (max-width: 1600px) {
  .cls-image {
    right: 50px;
    transform: scale(1.75);
  }
}

@media only screen and (max-width: 1200px) {
  .cls-image,
  .noscalecls-image,
  .about-header-image,
  .blog-header-image {
    .noscalecls-image {
      display: none;
    }

    .button.white {
      font-size: 24px !important;
    }

    .offer-container,
    .advantages-container {
      flex-wrap: wrap;
    }

    .offer-dense,
    .advantage-container {
      width: 60%;
      max-width: none !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .cls-image,
  .noscalecls-image {
    display: none;
  }

  .button.white {
    font-size: 16px !important;
  }

  .offer-dense,
  .advantage-container {
    width: 80%;
  }
}

#benefits {
  background-color: #444443;
}

.benefits-header {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
}

.benefits-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.benefit-container {
  display: flex;
  width: 50%;
  color: _palette(accent);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  align-items: center;
  margin: 10px 0 10px 0;

  .circle {
    width: 30px;
    height: 30px;
    padding: 8px;
    text-align: center !important;
    background-color: _palette(accent);
    color: white;
    border-radius: 50%;
    margin-right: 20px;
  }
}

.concept-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.83333em 1.66667em;

  .concept-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1.66667em;

    @media only screen and (max-width: 600px) {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }

  .concept-card-inside {
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 3px 10px 0 rgba(_palette(primary), 0.1);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0.833333em;
  }

  .concept-thumbnail {
    border: 0;
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
    object-fit: cover;
    max-height: 250px;
    border-radius: 15px;

    &:before {
      content: "";
      display: block;
      padding-top: 66.666%;
    }

    img {
      border-radius: 14px 14px 0px 0px;
      height: 100%;
      left: 0;
      position: absolute;
      object-fit: cover;
      top: 0;
      width: 100%;
    }
  }

  .concept-card-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.33333rem;
  }

  .concept-header {
    text-align: left;
  }

  .concept-title {
    font-size: 1.33333rem;
    margin: 0;
    text-transform: uppercase;
  }

  .concept-subtitle {
    font-size: 0.7777rem;
    color: grey;
  }

  .concept-text {
    font-size: 14px;
    text-align: justify;
  }
}
