#image-slider {
  height: 100%;
  width: 100%;

  .splide__slide {
    max-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      height: 200px;
      width: 200px;
      object-fit: contain;
    }

    .quote {
      width: 75%;
      text-align: center;
      margin: 0;
    }
  }
}
